:root{
    --fuenteheading: "PT sans", sans-serif;
    --fuenteparrafos: "Open Sans", sans-serif;

    --primario:#784D3C;
    --blanco:#fff;
    --negro:#000;
    --claro:#e1e1e1;
}

html{
    box-sizing: border-box;
    font-size: 62,5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteparrafos);
    font-size: 1.2rem;
    line-height: 1.2;
}

/* GLOBALES */
.contenedor{
    max-width: 50rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteheading);
    line-height: 1.2;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.5rem}
img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/* HEADER  */
.header{
    background-image: url(../img/banner.jpg);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .header__texto{
        margin-top: 10rem;
    }
    .logo__nombre{
        margin-top: 1rem;
    }
}
@media (min-width: 768px) {
    .barra{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
}
.logo{
    color: var(--blanco);
}
.logo__nombre{
    font-weight: 480;
}
@media (min-width: 360px) {
    .logo__nombre{
        margin-bottom: -1rem;
        margin-top: 1;
    }
    .navegacion__enlace{
        margin-bottom: .3rem;
    }
    .ajustarh2{
        font-size: 2rem;
        /* margin-top: 4rem; */
        margin:4rem 2rem 0.5rem 2rem;
    }
    .entrada__contenido{
        padding-top: 1rem;
    }
    .navegacion{
        margin-top: 2rem;
    }
}
.logo__bold{
    font-weight: bold;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 1.5rem;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.3rem;
    color: var(--blanco);
    
}
@media (min-width: 768px) {
    .navegacion__enlace{
        margin-right: .5rem;
    }
}
/* CONTENIDO */

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}
.entrada{
    border-bottom: 1px solid var(--claro);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;

}
.boton{
    display: block;
    font-family: var(--fuenteheading);
    color: var(--blanco);
    text-align: center;
    padding:1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    border: none;

}

@media (min-width: 768px) {
    .boton{
        display:inline-block;
    }
}
.boton:hover{
    cursor: pointer;
}

.boton--primario{
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);
}
.cursos{
    list-style: none;
}
.widget-curso{
    border-bottom: 1px solid var(--claro);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type,
.curso:last-of-type{
    border: none;
    margin-bottom: 0;
}
.widget-curso__label,
.curso__label{
    font-family: var(--fuenteheading);
    font-weight: 700;
}
.widget-curso__info,
.curso__info{
    font-weight: 400;
}
.widget-curso__label,
.widget-curso__info,
.curso__label,
.curso__info{
    font-size: 1rem;
}
.centrar-text{
    text-align: center;
    font-size: 1.48rem;
}
.entrada p{
    text-align: justify;
}

/* footer  */

.footer{
    background-color: var(--negro);
    font-size: 1rem;
}
@media (min-width: 360px) {
    .barra{
        padding-bottom: .5rem;
    }
}

/* NOSOTROS  */
@media (min-width: 768px) {
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    
    }
    .sobre-nosotros__texto{
        margin: 0;
    }
    .contenedor{
        padding-bottom: 1rem;
    }
}
/* CURSOS  */
.curso{
    padding: top 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid var(--claro);
}
@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
    
    .calcu{
        margin: 1rem 0;
    }
}
.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.formulario{
    background-color: var(--blanco);
    margin: -2.5rem auto 0 auto;
    width: 95%;
    padding: 2rem;

}
.campo{
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
}

.campo__label--email{
    margin-right: 2.1rem;
}
@media (min-width: 768px) {
    .campo__label{
        margin-right: 1rem;
    }
}
.gap{
    gap: 2.6rem;
}
.campo__label{
    flex: 0 0 4rem;
    text-align: right;
    gap:1rem;
    
}
.campo__field{
    flex: 1;
    border: 1px solid var(--claro);
}
.campo__field--textarea{
    height: 14rem;
    
}